.transaction {
  border-collapse: collapse;
  width: 500px;
  margin: 20px;
  padding: 0;
  box-shadow: 0px 0px 10px 0px rgba(26, 43, 35, 0.2);
  background-color: #f5fffa;
  align-items: center;
}

.transaction th {
  font-size: 20px;
  color: #223c50;
  font-weight: 700;
  padding: 10px 0;
  background-color: #d5eae4;
}

.transaction th:not(:last-child) {
  border-right: 1px solid #c9c9c9;
}

.transaction tr:nth-child(even) {
  background-color: #d5eae4;
}

.transaction tr {
  height: 56px;
  color: #6b7780;
  font-weight: 500;
}
